extends layout

block content
	#content.col-md-12
		#content.col-md-12
			h1 Geen toegang
			p U heeft geen permissie om deze pagina te tonen of u bent niet ingelogd.
	#main.col-md-12
		a.btn.btn-default(href="/login") Inloggen
