extends ../layout

block content
	#content.col-md-12
		#content.col-md-12
			h1 Authenticate
			
	#main.col-md-12
		div.col-md-4
			a.btn.btn-default(href='/users/login')
				span
				|	Local Login
			p.
			a.btn.btn-default(href='/users/signup')
				span
				|	Local Signup
			p.
			a.btn.btn-default(href='/auth/facebook')
				span
				|	Facebook Login
			p.
			a.btn.btn-default(href='/auth/twitter')
				span
				|	Twitter Login
			p.
			a.btn.btn-default(href='/auth/google')
				span
				|	Google+ Login