extends ../layout

block content
	#content.col-md-12
		#content.col-md-12
			h1 Login
			p= password
			
	#main.col-md-12
		div.col-md-4
			form(action="/users/login" method="post")
				div.form-group
					label Gebruikersnaam
					input.form-control(type="text", name="username")
				div.form-group
					label Wachtwoord
					input.form-control(type="password", name="password")
				input(type="submit", value="submit")
				
				a.btn.btn-default(href='signup')
					span
					|	registreer
